c.g4
.idea/
parser_/.antlr/
parser_/__pycache__/
parser/
parser_/gen.bat
__pycache__
test.py
parser_/tinyc.interp
parser_/tinyc.tokens
parser_/tinycLexer.interp
parser_/tinycLexer.py
parser_/tinycLexer.tokens
parser_/tinycParser.py
parser_/tinycListener.py
parser_/tinycVisitor.py
precompile/.antlr/
output.ll
tinyc.g4
precompile/preCompile.interp
precompile/preCompile.tokens
precompile/preCompileLexer.interp
precompile/preCompileLexer.py
precompile/preCompileLexer.tokens
precompile/preCompileListener.py
precompile/preCompileParser.py
precompile/preCompileVisitor.py
