c.g4
.idea/
parser_/.antlr/
parser_/__pycache__/
parser/
parser/tinyc.g4
parser/tinyc.tokens
parser/tinyc.interp
parser/tinycLexer.interp
parser/tinycLexer.py
parser/tinycLexer.tokens
parser/tinycListener.py
parser/tinycParser.py
__pycache__
test.py
parser_/tinyc.interp
parser_/tinyc.tokens
parser_/tinycLexer.interp
parser_/tinycLexer.py
parser_/tinycLexer.tokens
parser_/tinycParser.py
parser_/tinycListener.py
parser_/tinycVisitor.py
output.ll
